.App {
  text-align: center;
}
.App > img {
  width: 100px;
  object-fit: contain;
}
.app_form {
  padding: 20px;
  z-index: 1;
  background-color: #e9e9eb;
  position: fixed;
  bottom: 0;
  width: 90%;
  margin: 20px;
}
.app_formcontrol {
  display: flex !important;
  flex-direction: row !important;
}
.app_input {
  flex: 1;
}
